/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 5px;
    text-align: center;
    background-color: grey;
}

#navMenu .nav-link {
    margin: 0.5rem;
    padding: 3px;
    list-style-type: none;
    display: inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}
<<<<<<< HEAD
=======

>>>>>>> 594e75f363a3ab56866eb807b54ebc1bbb503b11
#landing {
    background-image: url(https://img.freepik.com/free-photo/shopping-cart-with-wooden-elements_23-2148879396.jpg?w=1060&t=st=1689602816~exp=1689603416~hmac=b50f54969761b09430ac36f19d1be0941922e4f1ee21558be285ba2445f5a5c6);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 50vh;
    color: white;
}

#landing h1 {
    padding-top: 5rem;
    font-size: 3rem;
}

#landing h3 {
    margin: 1rem;
}

button {
    padding: 0.8rem;
    background-color: #F0B27A;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#hot {
    text-align: center;
}

#hot h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#hot ul li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid #F0B27A;
    border-radius: 15px;
    padding: 3rem;
    margin: 2rem 0.5rem;
}

footer {
    font-size: 0.8rem;
    color: lightskyblue;
    letter-spacing: 0.5px;
}